* {
    margin: 0;
    box-sizing: border-box;
}
#Login {
    width: 100%;
    height: 100vh;
    background-image: url(../../image/fundo.jpg);
    background-position: center center;
    background-size: cover;
}

section{
    width: 80%;
    margin-left: 10%;
    height: 500px;
    border-radius: 10px;
    display: flex;
}
#Logo {
    width: 50%;
    background-image: url(../../image/cobraLogo.jpeg);
    background-size: cover;
}
@media(max-width: 700px){
    #Logo {
        display: none;
    } 
      
}
#Form {
    text-align: center;
    width: 50%;
    background-color: #0093c9ad;
}
@media(max-width: 700px){
    #Form {
        width: 100%;
    }     
}
h1 {
    font-size: 40px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 100px;
    margin-bottom: 50px;
}
.inpLogin {
    width: 80%;
    height: 35px;
    border: none;
    border-radius: 5px;
    margin-bottom: 30px;
}
.loginButton {
    cursor: pointer;
    width: 250px;
    height: 35px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: 900;
    background-color: rgb(32, 32, 247);
}
button:hover{
    opacity: 70%;
}